<div class="bg-img-height">
    <div class="container-fluid bg-img-overlay">
        <div class="row ptb-20">
            <div class="col-md-12 account-register">
                <span class="account-login">login</span>
                <span class="account-box">create an account</span>
            </div>
            <div class="col-md-12 logo-location">
                <img src="../../assets/logo/logo.jpg" alt="LOGO-RESTAURANT">
                <p class="m-0">Find the best restaurants, cafés and bars in India</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-t-10">
        <div class="col-md-12">
            <p class="m-0 fs-20 font-bold font-3e">Popular locations in India&nbsp;
                <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#exampleModal">
                  ADD
                </button>
            </p>
            <p class="m-0 subtitle">From swanky upscale restaurants to the cosiest hidden gems serving the most incredible food, Zomato covers it all. Explore menus, and millions of restaurant photos and reviews from users just like you, to find your next great meal.</p>
        </div>
    </div>

    <div class="row plr-15 ptb-10">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 ptb-15" *ngFor="let location of locationData;let i = index;">
            <div class="p-5 border b-r-2 bg-white font-3e cursor" (click)="getAllCityData(location.location_id)">
                <div class="ptb-5">{{location.location_name}}<span class="m-t-2 float-r"><i class="icon-arrow-right font-3e"></i></span></div>
            </div>
        </div>
    </div>
</div>

<footer class="ptb-10">
    <div class="container-fluid">
        <div class="row ptb-10">
            <div class="col-sm-12 col-md-7 col-lg-8  col-xl-9 footer-logo">
                <img src="../../assets/logo/logo.jpg" alt="LOGO-RESTAURANT" class="footer-img">
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4 col-xl-3 font-white footer-dropdown">
                <div>Drop Down</div>
            </div>
        </div>
        <hr class="font-9a">
        <div class="row font-white ptb-10">
            <div class="col-sm-12 col-md-7 col-lg-8 col-xl-9">
                <ul class="list-none m-0">
                    <li class="dis-inline-block m-b-0" *ngFor="let data of footer_list;let i=index"><span>{{data}}</span></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4 col-xl-3 text-right">
                <ul class="list-none m-0">
                    <li class="dis-inline-block m-b-0" *ngFor="let media of social_media;let i=index"><i class="fa fa-{{media}} cursor" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
        <hr class="font-9a">
        <p class="m-0 fs-12 font-9a p-t-10 text-center">
            By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. © 2008-2018 - Zomato™ Media Pvt Ltd. All rights reserved.
        </p>
    </div>
</footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" *ngFor="let item of location_list;let i=index">
                        <label for="{{item['name']}}" class="col-form-label">{{item['label']}}</label>
                        <input type="text" class="form-control" id="{{item['name']}}" [(ngmodal)]=item.name placeholder="{{item['label']}}">
                    </div> -->
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label for="location_name" class="col-form-label">Location Name</label>
                        <input type="text" class="form-control" id="location_name" [(ngModel)]="location_name">
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label for="location_code" class="col-form-label">Location Code</label>
                        <input type="text" class="form-control" id="location_code" [(ngModel)]="location_code">
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label for="location_id" class="col-form-label">Location Id</label>
                        <input type="number" class="form-control" id="location_id" [(ngModel)]="location_id">
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label for="country" class="col-form-label">Country</label>
                        <input type="text" class="form-control" id="country" [(ngModel)]="country">
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label for="country_code" class="col-form-label">Country Code</label>
                        <input type="text" class="form-control" id="country_code" [(ngModel)]="country_code">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="createData(location_name, location_code, location_id, country, country_code)">Create</button>
                <button type="button" style="display: none;" class="btn btn-primary" data-dismiss="modal" (click)="updateData()">Update</button>
            </div>
        </div>
    </div>
</div>